---
import '../styles/global.css'
const {url, title, image, description} = Astro.props;
---

<div class=" bg-blue-950">
    <div class="grid grid-cols-3 grid-flow-row gap-4">
        <img src={image.url} alt={image.alt} width="100"/>
        <h2><a href={url}>{title}</a></h2>
        <p>{description}</p>
    </div>

</div>